node_modules
npm-debug.log*
Dockerfile
.dockerignore
docker-compose.yml
.git
.gitignore
*.log
*.md
server/node_modules
client/node_modules
server/client/build
client/build
server/uploads
server/.env
client/.env
